// COLORS
$color-primary:rgb(86, 67, 250);
$color-primary-dark: rgb(86, 67, 250);
$color-primary-light: rgb(150, 115, 199);
// $color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

// GREYS
$color-white: rgb(255, 255, 255);
$color-grey-light-1: rgb(247, 247, 247) ;
$color-grey-light-2: rgb(238, 238, 238) ;
$color-grey-dark-1: rgb(119, 119, 119);
$color-grey-dark-2: rgb(153, 153, 153);
$color-grey-dark-3: rgb(51, 51, 51);
$color-black: rgb(0, 0, 0);

//FONT
$default-font-size: 1.6rem;